$border-radius: 4px;

$primary: #409EFF;
$success: #67C23A;
$warning: #E6A23C;
$danger: #F56C6C;
$info: #909399;

$primary-hover: #66B1FF;
$success-hover: #85CE61;
$warning-hover: #EBB563;
$danger-hover: #F78989;
$info-hover: #a6a9ad;

$primary-active: #3A8EE6;
$success-active: #5DAF34;
$warning-active: #CF9236;
$danger-active: #DD6161;
$info-active: #82848A;

$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;

$map: (
    "xs": ( max-width: $--sm -1 ),
    "sm": ( min-width: $--sm ),
    "md": ( min-width: $--md ),
    "lg": ( min-width: $--lg ),
    "xl": ( min-width: $--xl )
);

@mixin res($key) {
    @media only screen and #{inspect(map-get($map, $key))} {
        @content;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}